@charset "UTF-8";
/* line 1, ../scss/globals/_headers.scss */
.content-border-content > .panel-pane > h2.pane-title {
  margin-bottom: 0;
}

/* line 5, ../scss/globals/_headers.scss */
.content-border-content h2:first-child {
  margin-bottom: 0;
}

/* line 2, ../scss/elements/_article.scss */
.field-name-field-tags div {
  display: inline;
}
/* line 7, ../scss/elements/_article.scss */
.field-name-field-tags .field-items .field-item:before {
  content: ", ";
}
/* line 10, ../scss/elements/_article.scss */
.field-name-field-tags .field-items .field-item:first-child:before {
  content: "";
}

/*  provide a simple mechanism for content editors to apply a border and padding to images in their content. */
/* line 16, /Users/michael.thorne/Sites/wpp_lol_com_cms/public_html/profiles/lol2_profile/themes/custom/lolt/scss/elements/_article.scss */
.field-name-body img.padded-border {
  border: 1px solid #666;
  padding: 2px;
  margin: 5px;
}

/*
.pane-breadcrumb-title {
  width: 980px;
  margin: 0 auto -20px auto;
  padding: 0 20px;
  text-transform: uppercase;

  .breadcrumb {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 1em;

    li {
      float: left;
      background: transparent url("resources/icons.png") no-repeat 0 4px;
      padding-left: 15px;
      margin-right: 10px;

      a {
        text-decoration: none;
        color: #fff !important;
        @include text-shadow(1px 1px 1px rgba(0,0,0,0.5));
      }
    }

    li.first {
      padding-left: 0;
      background: transparent;
    }
  }

  .title-header {
    margin-top: 20px;
    color: #fff;
    font-family: $riot-kit-global-header-font-family;
  }
}
*/
/* line 5, ../scss/elements/_medium-card.scss */
.medium-card {
  overflow: hidden;
}

/* line 9, ../scss/elements/_medium-card.scss */
.medium-card-media img {
  width: 290px;
  height: 163px;
}

/* line 14, ../scss/elements/_medium-card.scss */
.medium-card-content {
  padding-bottom: 5px;
}
/* line 17, ../scss/elements/_medium-card.scss */
.medium-card-content .medium-card-content-content {
  height: 121px;
}
/* line 20, ../scss/elements/_medium-card.scss */
.medium-card-content .medium-card-content-content h4 {
  margin-bottom: 10px;
}
/* line 23, ../scss/elements/_medium-card.scss */
.medium-card-content .medium-card-content-content h4 a {
  text-decoration: none;
}
/* line 29, ../scss/elements/_medium-card.scss */
.medium-card-content .field-name-field-body-small {
  max-height: 4.4em;
  overflow: hidden;
}
/* line 34, ../scss/elements/_medium-card.scss */
.medium-card-content .field-name-field-category {
  text-align: right;
  white-space: nowrap;
  float: right;
}
/* line 40, ../scss/elements/_medium-card.scss */
.medium-card-content .icon-posted {
  margin-left: -6px;
  white-space: nowrap;
}

/* line 45, ../scss/elements/_medium-card.scss */
.medium-card-content-meta .gs-container > * {
  padding-top: 0px;
}

/* Ensures height of promo-card full-size images to prevent breaking layouts */
/* line 50, ../scss/elements/_medium-card.scss */
.node-medium-card {
  width: 300px;
  height: 350px;
}

/* line 54, ../scss/elements/_medium-card.scss */
.view-frontpage-promos .content-border {
  margin-top: 0px;
}

/* line 2, ../scss/elements/_news-recent.scss */
.view-news-recent .node-teaser {
  border-top: 1px solid #F9F9FA;
  border-bottom: 1px solid #D1D3D4;
}
/* line 7, ../scss/elements/_news-recent.scss */
.view-news-recent .node-teaser:first-child {
  border-top: 0;
}
/* line 11, ../scss/elements/_news-recent.scss */
.view-news-recent .node-teaser:last-child {
  border-bottom: 0;
}

/*  move into lol-kit  */
/* line 2, ../scss/elements/_promo-teaser.scss */
.dark-background {
  color: #FFFFFF;
}
/* line 5, ../scss/elements/_promo-teaser.scss */
.dark-background a.btn-large-link:link, .dark-background a.btn-large-link:visited {
  color: #FFFFFF;
  border: none;
}
/* line 9, ../scss/elements/_promo-teaser.scss */
.dark-background a.btn-large-link:hover, .dark-background a.btn-large-link:active {
  color: #A6E3E3;
}

/* line 13, ../scss/elements/_promo-teaser.scss */
.generic-wrapper {
  position: relative;
  width: 1000px;
  margin: 0px auto;
}

/* line 18, ../scss/elements/_promo-teaser.scss */
.gs-overflow {
  overflow: visible;
}

/* line 23, ../scss/elements/_promo-teaser.scss */
#header,
#footer,
.section-wrapper {
  min-width: 1000px;
}

/* line 26, ../scss/elements/_promo-teaser.scss */
/*.fluid-width-video-wrapper {
  padding-top: 56.25% !important;
}

/*  since the rotator is position:absolute, we need a spacer to push down the page content */
/* line 33, ../scss/elements/_promo-teaser.scss */
.content-promo-spacer {
  height: 340px;
}

/* line 37, ../scss/elements/_promo-teaser.scss */
#content-promo {
  position: relative;
  width: 100%;
  min-width: 1000px;
  margin-top: -232px;
  height: 1080px;
  margin-bottom: -513px;
  overflow: hidden;
}
/* line 46, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-rotator {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 1080px;
  z-index: 0;
}
/* line 53, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-state-container {
  display: block;
  position: absolute;
  left: 50%;
  top: 550px;
  height: 55px;
  width: 1000px;
  margin-left: -500px;
}
/* line 63, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-state-container .content-promo-progress {
  display: block;
  position: relative;
  top: 22px;
  z-index: 0;
  width: 0px;
  /* width is modified by the cycle transition */
  height: 20px;
  margin: 0 auto;
  background: #ffc200;
  -webkit-border-radius: "20px 20px 0 0";
  -moz-border-radius: "20px 20px 0 0";
  -ms-border-radius: "20px 20px 0 0";
  -o-border-radius: "20px 20px 0 0";
  border-radius: "20px 20px 0 0";
  -webkit-box-shadow: "0 -3px 4px 0px rgba(255, 220, 150, 0.3)";
  -moz-box-shadow: "0 -3px 4px 0px rgba(255, 220, 150, 0.3)";
  box-shadow: "0 -3px 4px 0px rgba(255, 220, 150, 0.3)";
}
/* line 76, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-state-container .content-promo-pager {
  position: absolute;
  width: 200px;
  display: block;
  z-index: 5;
  height: 40px;
  text-align: right;
  top: 0px;
  right: 10px;
}
/* line 86, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-state-container .content-promo-pager span {
  display: inline-block;
  height: 38px;
  width: 26px;
  border-radius: 10px;
  background: url(../images/slider-bullets.png) -1px 0 no-repeat;
  margin: 0;
  position: relative;
  top: -2px;
}
/* line 96, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-state-container .content-promo-pager span:hover {
  background-position: -26px 0;
}
/* line 100, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-state-container .content-promo-pager span.cycle-pager-active,
#content-promo .content-promo-state-container .content-promo-pager span.cycle-pager-active:hover {
  background-position: -26px 0;
}
/* line 105, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-slide {
  position: absolute;
  width: 100%;
  height: 1080px;
  display: none;
  left: 50%;
  margin-left: -50%;
}
/* line 113, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-slide .promo-background {
  position: absolute;
  width: 100%;
  min-width: 1000px;
  height: 1080px;
  background: transparent none 50% 0px no-repeat;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: -1;
}
/* line 124, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-slide .promo-content {
  position: relative;
  top: 270px;
  height: 274px;
  z-index: 2;
  padding: 0 30px;
  margin: 0 auto;
  width: 1000px;
}
/* line 133, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-slide .promo-content h2 {
  font-size: 3.23em;
  font-family: open_sansitalic, "Times New Roman", serif;
  line-height: 1em;
  background: transparent;
  color: #ff9c00;
  border: 0;
  height: auto;
  margin: 0 0 5px 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* line 150, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-slide .promo-content h4 {
  font-style: italic;
  font-size: 1.5em;
  font-family: open_sansitalic, "Times New Roman", serif;
  margin: 0 0 20px 0;
  color: #fbd989;
}
/* line 160, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-slide .promo-content .promo-links {
  position: absolute;
  bottom: 0px;
}
/* line 165, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-slide .promo-content .file-video iframe {
  box-shadow: 0px -20px 15px -15px rgba(255, 156, 0, 0.1), 20px 0 15px -15px rgba(255, 156, 0, 0.1), 0px 20px 15px -15px rgba(255, 156, 0, 0.1), -20px 0 15px -15px rgba(255, 156, 0, 0.1);
}
/* line 173, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo-slide .promo-content img {
  max-width: 100%;
  height: auto;
}
/* line 183, ../scss/elements/_promo-teaser.scss */
#content-promo .content-promo:first-child {
  display: block;
}

/*  position must not be relative because */
/* line 190, ../scss/elements/_promo-teaser.scss */
.p-romo-content .gs-container > * {
  position: static;
}

/* line 2, ../scss/elements/_teaser.scss */
.node-teaser .field-name-field-body-medium {
  height: 112px;
}
/* line 5, ../scss/elements/_teaser.scss */
.node-teaser .pane-time-ago-comment-count {
  margin-left: -5px;
}

/* line 16, ../scss/lolt.styles.scss */
.node-unpublished {
  background: transparent;
}

/* line 20, ../scss/lolt.styles.scss */
#admin-menu {
  top: -20px;
}

/*  changes for lolkit */
/* line 26, ../scss/lolt.styles.scss */
h4 {
  font-size: 1.35em;
}

/* line 29, ../scss/lolt.styles.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 35, ../scss/lolt.styles.scss */
h1.article-title {
  font-size: 2em;
  line-height: 1.1em;
  margin-bottom: 10px;
}

/* line 41, ../scss/lolt.styles.scss */
.article_detail {
  display: block;
  margin: 0em 0 2em;
}

/* line 46, ../scss/lolt.styles.scss */
.posted_by {
  text-transform: uppercase;
  color: #555555;
  font-size: 0.75em;
}

/* line 52, ../scss/lolt.styles.scss */
.pager,.pagination{
  text-align: right;
  margin: 10px;
}

/* line 56, ../scss/lolt.styles.scss */
.pager-offset {
  position: relative;
  margin-bottom: 30px;
}

/* line 61, ../scss/lolt.styles.scss */
.pager-offset .pager,.pagination {
/*  position: absolute;
  bottom: -40px;
  right: 0px;*/
}

/*  force grid items to be position static so that a parent container can be the relative parent for absolute positioned elements */
/* line 68, ../scss/lolt.styles.scss */
.gs-static > * {
  position: static;
}

/* line 74, ../scss/lolt.styles.scss */
.field-name-body a.region-na,
.field-name-body a.region-euw,
.field-name-body a.region-eune {
  display: none;
}

/* line 80, ../scss/lolt.styles.scss */
.sidebar-navigation ul.menu {
  margin: 0px;
  padding: 0px;
  font-family: open_sansitalic, "Times New Roman", serif;
  text-transform: uppercase;
}
/* line 86, ../scss/lolt.styles.scss */
.sidebar-navigation ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 1.4em;
}
/* line 93, ../scss/lolt.styles.scss */
.sidebar-navigation ul.menu li a {
  text-decoration: none;
}
/* line 96, ../scss/lolt.styles.scss */
.sidebar-navigation ul.menu li li {
  font-size: .675em;
  margin-bottom: 0px;
  text-transform: none;
}
/* line 101, ../scss/lolt.styles.scss */
.sidebar-navigation ul.menu li li.first {
  margin-top: 10px;
}
/* line 104, ../scss/lolt.styles.scss */
.sidebar-navigation ul.menu li li.last {
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.5em;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 114, ../scss/lolt.styles.scss */
.sidebar-navigation .subtle-divider {
  margin: 20px 0;
}

/* line 121, ../scss/lolt.styles.scss */
h2.black-bar-header,
.black-bar-header h2,
#mini-panel-lol_media_browser_featured_media h2 {
  background: black url("../images/lol-textures.jpg") no-repeat 0 -6px;
  padding: 17px 20px 11px 20px;
  margin: 0px 0 0 0;
  -webkit-box-shadow: 0px 1px 2px #323232;
  -moz-box-shadow: 0px 1px 2px #323232;
  box-shadow: 0px 1px 2px #323232;
  color: #DFE1E1;
  position: relative;
}

/* line 133, ../scss/lolt.styles.scss */
h2.black-bar-header:before,
.black-bar-header h2:before,
#mini-panel-lol_media_browser_featured_media h2:before {
  content: "";
  display: block;
  height: 2px;
  background: black url("../images/lol-textures.jpg") no-repeat center -1px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

/* line 146, ../scss/lolt.styles.scss */
.black-bar-header h2,
#mini-panel-lol_media_browser_featured_media h2 {
  margin-bottom: 20px;
}

/* line 151, ../scss/lolt.styles.scss */
.node-teaser .field-name-field-body-medium {
  max-height: 7.5em;
  overflow: hidden;
}

/* line 155, ../scss/lolt.styles.scss */
.node-article.node-teaser .teaser-content {
  height: 110px;
  margin-top: 10px;
}

/* line 159, ../scss/lolt.styles.scss */
.node-teaser .field-name-field-article-media img {
  width: 281px;
  height: 158px;
}

/*  Related News listing block  */
/* line 165, ../scss/lolt.styles.scss */
.view-id-news_small_listing .node-small-listing {
  margin: 10px 0;
}

/* line 170, ../scss/lolt.styles.scss */
.media-tertiary .node-small-card .panel-separator,
.media-tertiary .node-small-card .gs-container {
  display: none;
}

/*  temp fix for wrapper problem on small card grid view. This creates spacing issues, but ensures that the */
/* line 175, ../scss/lolt.styles.scss */
.view-lol-media-browser-browse .node-small-card h4,.node-small-card h4{
  height: 2.1em;
  overflow: hidden;
}

/* line 179, ../scss/lolt.styles.scss */
.view-lol-media-browser-browse .node-small-card .gs-container > * {
  padding-top: 0px;
}

/* line 182, ../scss/lolt.styles.scss */
.view-lol-media-browser-browse .node-art.node-small-card .gs-container {
  margin-top: 0px;
}

/* line 186, ../scss/lolt.styles.scss */
.view-display-id-panel_pane_1 {
  margin-top: 20px;
}

/* line 194, ../scss/lolt.styles.scss */
.time-ago,
.field-name-field-category a,
.field-name-field-category a:visited,
.field-name-field-media-type a,
.field-name-field-media-type a:visited {
  text-transform: uppercase;
  color: #888888;
}

/*  remove the default backdrop from the homepage   */
/* line 200, ../scss/lolt.styles.scss */
body.page-home .backdrop {
  background-image: none;
}

/*  position the default drupal admin tabs in a place that they are easy to use and do not disrupt the design of the page. */
/* line 205, ../scss/lolt.styles.scss */
.tabs ul.primary {
  position: fixed;
  left: 0px;
  top: 250px;
  z-index: 100;
  margin: 0px;
  padding: 0px;
}
/* line 213, ../scss/lolt.styles.scss */
.tabs ul.primary li a {
  text-decoration: none;
  display: block;
  width: 120px;
  margin: 0;
  padding: 5px 5px 5px 10px;
  background-color: #DDD;
  white-space: normal;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 10px;
}
/* line 224, ../scss/lolt.styles.scss */
.tabs ul.primary li a:hover {
  background-color: #EEE;
}
/* line 226, ../scss/lolt.styles.scss */
.tabs ul.primary li.active a,
.tabs ul.primary li.active a:hover {
  background-color: #FFF;
}

/*  better looking error styling  */
/* line 232, ../scss/lolt.styles.scss */
div.error, table tr.error {
  color: #fef5f1;
  background-color: #8c2e0b;
}

/*  styles the homepage news links   */
/* line 238, ../scss/lolt.styles.scss */
.view-news-recent {
  position: relative;overflow:hidden
}

/* line 241, ../scss/lolt.styles.scss */
.view-news-recent .view-footer a.header-links {
  position: absolute;
  top: -57px;
  right: 20px;
  border-width: 0 1px;
  display: block;
  color: #bbbbbb;
  text-decoration: none;
  line-height: 37px;
  padding: 12px 15px 8px;
  background: rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

/* line 255, ../scss/lolt.styles.scss */
.view-news-recent .view-footer a.header-links:hover {
  color: white;
  background: rgba(255, 255, 255, 0.15);
}

/*  style the contents of the interstitial overlay  */
/* line 261, ../scss/lolt.styles.scss */
#colorbox.beta-interstitial-colorbox {
  background: transparent none;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
}

/* line 274, ../scss/lolt.styles.scss */
.beta-interstitial-colorbox #cboxBottomRight,
.beta-interstitial-colorbox #cboxBottomLeft,
.beta-interstitial-colorbox #cboxBottomCenter,
.beta-interstitial-colorbox #cboxMiddleLeft,
.beta-interstitial-colorbox #cboxMiddleRight,
.beta-interstitial-colorbox #cboxTopRight,
.beta-interstitial-colorbox #cboxTopLeft,
.beta-interstitial-colorbox #cboxTopCenter {
  display: none !important;
}

/* line 278, ../scss/lolt.styles.scss */
.beta-interstitial-colorbox #cboxLoadedContent,
.beta-interstitial-colorbox #cboxContent {
  margin: 0px !important;
}

/* line 281, ../scss/lolt.styles.scss */
.beta-interstitial-colorbox #cboxTitle {
  height: 0px;
  padding: 0px;
}

/* line 285, ../scss/lolt.styles.scss */
.beta-interstitial-colorbox #cboxClose {
  border: none;
  top: 0px;
  right: 0px;
  display: none;
}

/* line 291, ../scss/lolt.styles.scss */
#mini-panel-lol_sneak_peek_prestitial_overlay {
  background-color: #FFF;
}

/* line 294, ../scss/lolt.styles.scss */
html body.page-sneak-peek-overlay {
  background-color: #FFF;
  margin: 0px !important;
}

/* line 298, ../scss/lolt.styles.scss */
.beta-prestitial > div {
  width: 740px;
  height: 330px;
  padding: 40px 50px;
  text-align: center;
  background-color: #EEEEEE;
}

/* line 305, ../scss/lolt.styles.scss */
.beta-prestitial .close-interstitial {
  margin-top: 20px;
}

/* line 308, ../scss/lolt.styles.scss */
.beta-prestitial .featured {
  text-align: left;
}
